.books-list {
  list-style: none;
  margin: 0;

  li {

    h3 {
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        white-space: nowrap;
      }
    }

    .add-to-cart {
      margin-bottom: 0;
    }
  }

}