<div class="columns">
  <%= link_to "Address", order_checkout_address_path(@order) %> |
  <%= link_to "Delivery", order_delivery_service_path(@order) %> |
  <%= link_to "Credit card", order_credit_card_path(@order) %> |
  <%= link_to "Confirmation", order_confirmation_path(@order) %>
</div>
<br>
<br>