<menu class="admin-menu columns">
  <%= link_to "Add book", new_book_path %> <span style="color: #008CBA"> | </span>
  <%= link_to "Add author", new_author_path %> <span style="color: #008CBA"> | </span>
  <%= link_to "Add category", new_category_path %> <span style="color: #008CBA"> | </span>
  <%= link_to "Manage orders",  manage_orders_path %>
</menu>